#!/bin/bash

case "$PPP_IPPARAM" in
    openforticli*)
        rconf=/etc/resolv.conf
        [[ -f $rconf.openforticli ]] && cp -pv $rconf.openforticli $rconf
        exit 0
        ;;
esac 2>&1 | logger -p daemon.debug -i -t "$0"

true
